---
import type { Post } from "@/services/posts";

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<a
    class="relative p-4 dark:bg-zinc-800/50 light:bg-zinc-200/50 rounded-md w-full"
    href={`/posts/${post.id}`}
>
    <h3 class="text-lg sm:text-2xl">
        {post.title}
    </h3>
    <button
        class="absolute right-0 top-0 m-4 p-2 i-carbon-fit-to-screen text-zinc-500"
    ></button>
    <span class="text-gray-500 text-xs sm:text-md">
        <time>
            {
                new Date(post.date_created).toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </time>
    </span>
    {/* {post.snippet && <MarkdownView document={post.snippet} />} */}
</a>
